<ion-header>

    <ion-navbar color="primary">
            <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                  </button>
      <ion-title>ร้านค้า</ion-title>
      <ion-buttons end>
          <button id="cart-btn" ion-button icon-only (click)="openCart()">
            <ion-badge id="cart-badge" color="danger" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
            <ion-icon name="cart" slot="icon-only"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content id="home" >
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
   
    <!--<ion-grid>
    <ion-list>
        <ion-item>
          <ion-label>Gaming</ion-label>
          <ion-select [(ngModel)]="sorting">
            <ion-option value="lowprice">เรียงราคาจาก น้อย-มาก</ion-option>
          
          </ion-select>
        </ion-item>
      </ion-list>
      
    </ion-grid>-->
        <ion-grid style="height: 100%" > 
           
    <ion-row>
            
         <ion-col id="storecard" col-6  *ngFor="let product of items;let msgIndex = index ">
            <ion-card >
              <img id="img" src="http://localhost/webcancer/images/{{product.pro_image}}" >
              <ion-card-header>
                  <ion-card-title><h5 ion-text color="light">{{product.pro_name}}</h5></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>ราคา:</p><p style="color:rgb(29, 167, 29);">{{product.pro_price}}฿</p>
                  <button ion-button block  (click)="addToCart(product)">สั่งซื้อ</button>
              </ion-card-content>
          </ion-card>
        </ion-col>
      
            </ion-row>
            
          </ion-grid>
       
    <!--<ion-card *ngFor="let item of items">
      <ion-card-content>
      <ul [ngSwitch]="item.times">
          <li *ngSwitchCase="'1'" >เช้า {{item.name}} {{item.des}}</li>
          <li *ngSwitchCase="'2'" >กลางวัน {{item.name}} {{item.des}}</li>
      </ul>
      
       
      </ion-card-content>
   </ion-card>-->
  
  </ion-content>