page-store {
    #home{
        background: color($colors, bgapp);
    }
    #cart-badge{
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
        background-color: crimson; 
    }
    #cart-btn{
        position: relative;
    }
    .card{
        background-color: map-get($colors, primary);
        color: #fff;
        margin-top: -3%;
        border-radius: 15px;
    }
    .button{
        background-color: aliceblue;
        color: black;
    }
}
