<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>หน้าแรก</ion-title>
    <!--<ion-buttons end>
        <button ion-button icon-only (click)='logout()'>
          Logout
        </button>
      </ion-buttons>-->
      <ion-buttons end>
          <button id="cart-btn" ion-button icon-only (click)="openCart()">
              <ion-badge id="cart-badge" color="danger" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
              <ion-icon name="cart" slot="icon-only"></ion-icon>
            </button>
           
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content id="home" >
    <p>
        <ion-slides id="images" pager="true" loop="true" [autoplay]=5000>
          <ion-slide>
            <img src="./assets/imgs/Untitled.png" alt="">
          </ion-slide>
         
          <ion-slide>
            <img src="./assets/imgs/Untitled2.png" alt="">
          </ion-slide>
        </ion-slides>
      </p>
          <ion-row justify-content-center align-items-center >
            <h1>ข่าวสาร</h1>
            
          </ion-row>
       
          <ion-grid>
              <ion-row>
                <ion-card id="cardm" *ngFor="let item of dataSet;let msgIndex = index">
                  <ion-card-header (click)="openmodal(msgIndex)">
                      
                    <h3 ion-text id="title">{{item.ftitle}}</h3>
                  </ion-card-header>
                  <ion-card-content (click)="openmodal(msgIndex)">
                    <ion-col>
                    <img src="http://localhost/webcancer/images/{{item.fphoto}}"> 
                  </ion-col>
                  </ion-card-content>
                </ion-card>
                </ion-row>
            </ion-grid>
          
         
         
  <!--<ion-card *ngFor="let item of items">
    <ion-card-content>
    <ul [ngSwitch]="item.times">
        <li *ngSwitchCase="'1'" >เช้า {{item.name}} {{item.des}}</li>
        <li *ngSwitchCase="'2'" >กลางวัน {{item.name}} {{item.des}}</li>
    </ul>
    
     
    </ion-card-content>
 </ion-card>-->
</ion-content>
