<!--
  Generated template for the MePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>ฉัน</ion-title>
    <ion-buttons end>
        <button id="cart-btn" ion-button icon-only (click)="openCart()">
            <ion-badge id="cart-badge" color="danger" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
            <ion-icon name="cart" slot="icon-only"></ion-icon>
          </button>
         
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding id="home">
<div id="profile">
  <ion-icon  id="Centered" name="contact"></ion-icon><h2 id="profilee" style="margin-left: 5%; ">{{userDetails.email}}</h2>
<h3 id="profilen">{{userDetails.name}}</h3>
<button ion-button block id="buttone" (click)="profile()" >แก้ไขข้อมูล</button>
</div>
  

<ion-grid style="height: 100%" > 
  <ion-row>
    <ion-col col-6>
<ion-card>
  <ion-card-header>  
    <!--<ion-badge id="cart-badge" color="danger" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>-->
   <img src="http://54.169.75.217:8080/webcancer/images/Wallet-icon.png" alt="" (click)="payment()">
   <p *ngFor="let show of showData ">
   <ion-badge id="cart-badge" color="danger" *ngIf="show.status == 1"><ion-icon id="alerti" name="alert"></ion-icon></ion-badge>
   </p>
   <h2 ion-text style="text-align: center;">รอดำเนินการชำระเงิน</h2>
  </ion-card-header>


  <ion-card-content id="con">
    
  </ion-card-content>

</ion-card>
</ion-col>
<ion-col col-6 >
    <ion-card id="card2" >
      <ion-card-header>
       <img src="http://54.169.75.217:8080/webcancer/images/shipping.png" alt="">

        <p *ngFor="let show of showData ">
       <ion-badge  id="cart-badge" color="danger" *ngIf="show.status == 3"><ion-icon id="alerti" name="checkmark"></ion-icon></ion-badge>
          </p>
       <h2 ion-text style="text-align: center;">ส่งแล้ว</h2>
      </ion-card-header>
    
      <ion-card-content id="con">
        
      </ion-card-content>
    
    </ion-card>
    </ion-col>
</ion-row>
</ion-grid>
</ion-content>

