<!--
  Generated template for the CoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
  <ion-title>คอร์ส</ion-title>
  <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="openCart()">
          <ion-badge id="cart-badge" color="danger" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
          <ion-icon name="cart" slot="icon-only"></ion-icon>
        </button>
       
</ion-buttons>
</ion-navbar>

</ion-header>

<ion-content padding id="cs">
  <p id="image">
  <img src="http://54.169.75.217:8080/webcancer/images/template.jpg"> 
  </p>
  <ion-row>
  <ion-icon id="sunnyi" name="sunny"></ion-icon><h1>เช้า</h1>
  </ion-row>
    <ion-row>
        <ion-col>
          <ion-card *ngFor="let morning of data1">
            <ion-card-header id="headers" style="text-align: center;">
              <b>{{morning.pro_name}}</b>
            </ion-card-header>
            <ion-card-content style="text-align: center;">
                <img src="http://54.169.75.217:8080/webcancer/images/{{morning.pro_image}}">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> 
      <ion-row>
      <ion-icon id="nooni" name="partly-sunny"></ion-icon><h1>กลางวัน</h1>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-card *ngFor="let noon of data2">
            <ion-card-header id="headers" style="text-align: center;">
              
              <b>{{noon.pro_name}}</b>
            </ion-card-header>
           <ion-card-content style="text-align: center;">
              <img src="http://54.169.75.217:8080/webcancer/images/{{noon.pro_image}}">
           </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-icon id="mooni" name="moon"></ion-icon><h1>เย็น</h1>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-card *ngFor="let evening of data3">
            <ion-card-header id="headers" style="text-align: center;">
                <b> {{evening.pro_name}}</b>
            </ion-card-header>
           <ion-card-content style="text-align: center;">
              <img src="http://54.169.75.217:8080/webcancer/images/{{evening.pro_image}}">
           </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
</ion-content>
