page-course {
    #cs{
        background: color($colors, bgapp);
    }
    #image{
        margin-left: -5%;
        margin-right: -5%;
        margin-top: -5%;
    }
    #sunnyi{
        font-size: 42px;
        color:rgb(255, 151, 32);
    }
    #nooni{
        font-size: 39px;
        color:rgb(42, 163, 219);
    }
    #mooni{
        font-size: 42px;
        color:rgb(95, 18, 89);
    }
    #headers{
        background-color: coral;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
