page-cook {
    #cs{
        background: color($colors, bgapp);
    }
    .card-header{
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background-color : rgba(78, 7, 63, 0.979);
        color:white;
    }
    .card-content{
        background-color: rgb(248, 237, 248);
        margin-top: 0%;
    }
    #img{
        width:300px;
        height:150px;
    }
}
